@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/fonts.scss';
@import 'styles/icons.scss';
@import 'styles/utils.scss';
@import 'swiper/swiper-bundle';
@import 'ngx-toastr/toastr';

:root {
  --swiper-theme-color: #707070;
}

body {
  scroll-behavior: smooth;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 15px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #707070;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  width: 148px;
  height: 160px;
  top: 50%;
  right: 30px;
  left: unset;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: rotate(90deg);
  z-index: 10;
}

.swiper-button-prev::after {
    content: "";
    width: 23px;
    height: 43px;
    background-image: url(/assets/icons/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: initial;
    transform: rotate(180deg);
}

.swiper-button-next::after {
    content: "";
    width: 23px;
    height: 43px;
    background-image: url(/assets/icons/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: initial;
}

.h-420{
  height: 420px;
}

@media(max-width: 992px){
  .h-420{
    height: 200px;
  }
}

.v-align-9{
  vertical-align: -9px;
}
