<h2 class="text-3xl font-museoBold text-gray-800">Excluir Conteúdo</h2>
<div class="w-full max-w-3xl mt-8" *ngIf="conteudo">
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Id
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full h-11 py-2 px-4 text-gray-700">{{conteudo.id}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Título
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full min-h-20 py-2 px-4 text-gray-700">{{conteudo.titulo}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Tipo
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full min-h-20 py-2 px-4 text-gray-700">{{conteudo.tipo === 1 ? 'Texto' : 'Vídeo'}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6" *ngIf="conteudo.tipo === 1">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Texto
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full min-h-20 py-2 px-4 text-gray-700">{{conteudo.texto}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6" *ngIf="conteudo.tipo === 2">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Vídeo
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full min-h-20 py-2 px-4 text-gray-700">https://www.youtube.com/watch?v={{conteudo.url}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Ordenação
      </label>
    </div>
    <div class="md:w-9/12">
      <span class="block bg-gray-200 border border-veryLightGray rounded-md p-4 w-full min-h-20 py-2 px-4 text-gray-700">{{conteudo.ordem}}</span>
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-2/12"></div>
    <div class="md:w-9/12">
      <button type="button" (click)="Excluir()" class="font-museoRegular rounded-button w-44 h-14 bg-orange text-md uppercase border-2 border-solid border-orange text-center hover:bg-white hover:text-orange focus:outline-none" type="button">
        <span *ngIf="!showloading">
          Excluir >
        </span>
        <div *ngIf="showloading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </button>
    </div>
    <div class="text-base text-orange mt-2" *ngIf="errorMessage">{{errorMessage}}</div>

  </div>
</div>
