@font-face {
  font-family: 'Zerocalcare-Blockletter';
  src: url('/assets/fonts/Zerocalcare/ZerocalcareBlockletter.eot');
  src: url('/assets/fonts/Zerocalcare/ZerocalcareBlockletter.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Zerocalcare/ZerocalcareBlockletter.woff2') format('woff2'),
      url('/assets/fonts/Zerocalcare/ZerocalcareBlockletter.woff') format('woff'),
      url('/assets/fonts/Zerocalcare/ZerocalcareBlockletter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zerocalcare-Double-Trouble';
  src: url('assets/fonts/Zerocalcare/ZerocalcareDoubleTrouble.eot');
  src: url('assets/fonts/Zerocalcare/ZerocalcareDoubleTrouble.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Zerocalcare/ZerocalcareDoubleTrouble.woff2') format('woff2'),
      url('assets/fonts/Zerocalcare/ZerocalcareDoubleTrouble.woff') format('woff'),
      url('assets/fonts/Zerocalcare/ZerocalcareDoubleTrouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Museo-Light';
  src: url('/assets/fonts/Museo/Museo-300.eot');
  src: url('/assets/fonts/Museo/Museo-300.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Museo/Museo-300.woff2') format('woff2'),
      url('/assets/fonts/Museo/Museo-300.woff') format('woff'),
      url('/assets/fonts/Museo/Museo-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo-Regular';
  src: url('/assets/fonts/Museo/Museo-500.eot');
  src: url('/assets/fonts/Museo/Museo-500.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Museo/Museo-500.woff2') format('woff2'),
      url('/assets/fonts/Museo/Museo-500.woff') format('woff'),
      url('/assets/fonts/Museo/Museo-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo-SemiBold';
  src: url('/assets/fonts/Museo/Museo-700.eot');
  src: url('/assets/fonts/Museo/Museo-700.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Museo/Museo-700.woff2') format('woff2'),
      url('/assets/fonts/Museo/Museo-700.woff') format('woff'),
      url('/assets/fonts/Museo/Museo-700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo-Bold';
  src: url('/assets/fonts/Museo/Museo-900.eot');
  src: url('/assets/fonts/Museo/Museo-900.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Museo/Museo-900.woff2') format('woff2'),
      url('/assets/fonts/Museo/Museo-900.woff') format('woff'),
      url('/assets/fonts/Museo/Museo-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

