<app-header></app-header>
<div class="bg-veryLightOrange">
  <section class="min-h-96  py-24 px-4">
    <div class="container text-center">
      <h2 class="font-zerocalcare text-6xl text-darkGray">Faça Parte</h2>
      <p class="font-museoRegular text-2xl md:text-lg text-darkGray mb-10 mt-5 max-w-lg mx-auto">
        Buscamos parceiros que se identifiquem com o propósito da promoção de saúde emocional para jovens em situação de vulnerabilidade. Se você se interessa, veja como participar
      </p>
    </div>
  </section>

  <section class="min-h-96  py-12 px-4" id="fazer-parte">
    <div class="container max-w-5xl">
      <div class="max-w-2xl">
        <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
          Abaixo você encontra maneiras de ajudar o projeto. Escolha aquela com a que você mais se identifica e vem com a gente =)
          <br>
          <br>
          1 - Se você conhece uma Escola Pública ou ONG que tenha interesse em aplicar a Jornada Ilumine envie um e-mail para contato@institutoilumine.com.br
          <br>
          <br>
          2 - Acompanhe nosso trabalho em nossas redes socias e compartilhe com os amigos.<br>
          Instagram: <a href="https://www.instagram.com/institutoilumine/" Target="_blank">institutoilumine</a>
          <br>
          <br>
          3 - Seja um apoiador do Ilumine ajudando o Instituto com doações que potencializará nosso projeto chegar a todos os jovens do Brasil. As doações podem ser feitas através do PIX, nossa chave é nosso CNPJ: 34.957.392/0001-01.
        </p>
      </div>
    </div>
  </section>

</div>
<app-footer></app-footer>
