<h1 class="font-museoSemiBold text-4xl mb-10">Painel Administrativo Ilumine</h1>
<div class="flex items-center flex-wrap gap-5">
  <div class="widget min-w-min w-full max-w-sm p-4 shadow-lg rounded-lg bg-white border border-gray-100 cursor-pointer" routerLink="/admin/depoimentos">
      <div class="flex justify-between w-full">
        <div class="text-base uppercase font-light text-darkGray font-museoSemiBold flex items-center">
          <span class="material-icons text-orange mr-4">format_quote</span>
          Depoimentos
        </div>
      </div>
  </div>

  <div class="widget min-w-min w-full max-w-sm p-4 shadow-lg rounded-lg bg-white border border-gray-100 cursor-pointer" routerLink="/admin/trilhas">
      <div class="flex justify-between w-full">
        <div class="text-base uppercase font-light text-darkGray font-museoSemiBold flex items-center">
          <span class="material-icons text-orange mr-4">menu_book</span>
          Trilhas
        </div>
      </div>
  </div>

  <div class="widget min-w-min w-full max-w-sm p-4 shadow-lg rounded-lg bg-white border border-gray-100 cursor-pointer" routerLink="/admin/comentarios">
    <div class="flex justify-between w-full">
      <div class="text-base uppercase font-light text-darkGray font-museoSemiBold flex items-center">
        <span class="material-icons text-orange mr-4">comment</span>
        Comentários
      </div>
    </div>
  </div>

  <div class="widget min-w-min w-full max-w-sm p-4 shadow-lg rounded-lg bg-white border border-gray-100 cursor-pointer" routerLink="/admin/mentorados">
      <div class="flex justify-between w-full">
        <div class="text-base uppercase font-light text-darkGray font-museoSemiBold flex items-center">
          <span class="material-icons text-orange mr-4">group</span>
          Jovens
        </div>
      </div>
  </div>

  <div class="widget min-w-min w-full max-w-sm p-4 shadow-lg rounded-lg bg-white border border-gray-100 cursor-pointer" routerLink="/admin/educadores">
      <div class="flex justify-between w-full">
        <div class="text-base uppercase font-light text-darkGray font-museoSemiBold flex items-center">
          <span class="material-icons text-orange mr-4">groups</span>
          Educadores
        </div>
      </div>
  </div>
</div>
