<div class="rounded-xl w-full bg-green bg-opacity-10 p-4 mb-6"
  [ngClass]="{'bg-green': color === 0, 'bg-pink': color === 1, 'bg-orange': color === 2, 'bg-yellow': color === 3, 'bg-darkGray': color === 4,
  'cursor-pointer hover:shadow-lg transition duration-200 ease-in-out': enabled}"
  [routerLink]="!enabled ? [] : ['/user/modulo', modulo.id]"
  >
  <div class="flex justify-between items-center w-full">
    <span class="font-museoRegular uppercase text-xs text-lightGray mb-2">Módulo {{modulo.ordem}}</span>
    <button *ngIf="hasButton"
      [routerLink]="['/user/modulo', 1]"
      class="rounded-full text-white h-12 w-12 flex justify-center items-center  focus:outline-none focus:shadow-lg"
      [ngClass]="{'bg-green': color === 0, 'bg-pink': color === 1, 'bg-orange': color === 2, 'bg-yellow': color === 3, 'bg-darkGray': color === 4}"
    >
      <i class="icon icon-arrow-select transform -rotate-90 bg-white w-5 h-5"></i>
    </button>
  </div>
  <div class="flex">
    <p class="inline font-museoSemiBold w-11/12" [ngClass]="!enabled ? 'text-lg'+' text-'+color : 'text-mg'" >{{modulo.titulo}}</p>
    <span *ngIf="enabled" class="font-museoSemiBold text-base ml-auto"
    [ngClass]="{'text-green': color === 0, 'text-pink': color === 1, 'text-orange': color === 2, 'text-yellow': color === 3, 'text-darkGray': color === 4}"
    >{{progress}}%</span>
  </div>
  <div>
    <div class="w-full pt-4 relative">
      <div class="bg-white h-3 w-full rounded-full relative">
        <span *ngIf="progress < 100 && progress > 0" class="border-white border-3 h-5 w-5  absolute top-0 -ml-2 -mt-1 z-10 shadow rounded-full" [style.left.%]="progress"
        [ngClass]="{'bg-green': color === 0, 'bg-pink': color === 1, 'bg-orange': color === 2, 'bg-yellow': color === 3, 'bg-darkGray': color === 4}"
        ></span>
        <span class="h-3 absolute left-0 top-0 rounded-full" [style.width.%]="progress"
        [ngClass]="{'bg-green': color === 0, 'bg-pink': color === 1, 'bg-orange': color === 2, 'bg-yellow': color === 3, 'bg-darkGray': color === 4}"
        ></span>
      </div>
    </div>
  </div>
</div>
