

<h2 class="font-museoSemiBold text-darkGray text-2xl mt-10"> {{conteudo.titulo}}</h2>
<div class=" max-w-xl h-auto my-10 relative flex flex-col justify-center">
  <iframe width="576" height="315" [src]="safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <div class=" bg-veryLightGray w-full flex items-center justify-center mb-5 py-4 absolute -bottom-28">
    <button class="focus:outline-none">
      <i class="icon icon-video-settings bg-white w-5 h-5 cursor-pointer"></i>
    </button>
    <button class="focus:outline-none border-white border-2 rounded-full h-16 w-16 flex items-center justify-center mx-5">
      <i class="icon icon-play bg-white w-7 h-7 cursor-pointer"></i>
    </button>
    <button class="focus:outline-none">
      <i class="icon icon-fullscreen bg-white w-5 h-5 cursor-pointer"></i>
    </button>
  </div> -->
</div>
