<footer class="h-full md:h-80 bg-darkGray text-white font-museoRegular text-xs uppercase p-4" >
  <div class="container md:flex md:items-center h-full">
    <a  [routerLink]="['/']" class="h-full cursor-pointer inline-flex justify-center items-center p-6 w-full md:w-3/12">
      <img src="../../../assets/images/logo-vertical.png">
    </a>

    <ul  class="flex flex-col justify-center items-center md:items-start md:ml-8 w-full md:w-9/12">
      <li class="p-3 hover:underline cursor-pointer">
        <a [routerLink]="['/']">Início</a>
      </li>
      <li class="p-3 hover:underline cursor-pointer">
        <a [routerLink]="['/o-instituto']">O Instituto</a>
      </li>
      <!-- <li class="p-3 hover:underline cursor-pointer">
        <a [routerLink]="['/cadastre-se']">Como participar</a>
      </li> -->
      <li class="p-3 hover:underline cursor-pointer">
        <a [routerLink]="['/como-contribuir']">Como Contribuir</a>
      </li>
      <li class="p-3 hover:underline cursor-pointer">
        <a [routerLink]="['/fale-conosco']">Contato</a>
      </li>
    </ul>

  </div>
</footer>
