


<div *ngIf="postList">
  <h2 class="text-3xl font-museoBold text-gray-800">Posts</h2>
  <span class="text-lg font-museoRegular text-gray-500">{{postList?.length}} registros</span>
  <div class="grid grid-cols-12 gap-4 py-10">
    <div class="bg-white rounded-sm shadow-sm col-span-12">
      <div class="flex border-b p-5 items-center justify-between">
        <div class="flex">
          <div class="relative text-gray-600 border rounded-sm">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <span class="p-1 focus:outline-none focus:shadow-outline">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6">
                  <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </span>
            </span>
          </div>
        </div>
        <button [routerLink]="['/admin/blog/novo']" class="border p-2 rounded-md flex items-center space-x-2 font-museoRegular group hover:bg-gray-200 focus:outline-none">
          <span class="material-icons group-hover:text-orange">add</span>
          Novo Post
        </button>
      </div>
      <table class="table-auto w-full text-left font-museoRegular">
        <thead>
          <tr>
            <th class="px-4 py-2 border-r">Id</th>
            <th class="px-4 py-2 border-r">Título</th>
            <th class="px-4 py-2 border-r">Data de criação</th>
            <th class="px-4 py-2"></th>
            <!-- <th class="px-4 py-2">Tipo Postagem</th> -->
          </tr>
        </thead>
        <tbody class="text-gray-600 font-museoRegular" infiniteScroll (scrolled)="loadMore()" [infiniteScrollContainer]="'.admin-body'" [fromRoot]="true">
          <tr *ngFor="let item of postList">
            <td class="border border-l-0 px-4 py-2">{{item?.id}}</td>
            <td class="border border-l-0 px-4 py-2">{{item?.titulo}}</td>
            <td class="border border-l-0 px-4 py-2">{{item?.dataCriacao | date: 'dd/MM/yyyy'}}</td>
            <td class="border border-b-0 border-l-0 last:border  border-r-0 px-4 py-2 text-center flex justify-around">
              <button [routerLink]="['/admin/blog', item?.id]" class="inline hover:text-green focus:outline-none"><span class="material-icons">edit</span></button>
              <button [routerLink]="['/admin/blog/excluir', item?.id]" class="inline hover:text-orange focus:outline-none"><span class="material-icons">delete</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
