<app-header></app-header>

<section class="min-h-96 py-16 bg-image-before relative z-10">
  <div class="container text-center z-10">
    <h2 class="font-zerocalcare  text-8xl md:text-9xl text-darkGray">Processo Seletivo</h2>
    <p class="font-museoSemiBold text-xl md:text-2xl text-darkGray mb-10 mt-5 max-w-4xl mx-auto uppercase">
      PROCESSO SELETIVO PARA CONTRATAÇÃO DE ASSISTENTE CRIATIVO COM FOCO EM COMUNICAÇÃO
    </p>
    <p class="font-museoLight text-base text-darkGray mb-10 mt-5 max-w-3xl mx-auto">
      O Instituto Ilumine, que atua na promoção de saúde emocional de jovens, potencializando seus talentos e
      engajando-os na construção de um mundo melhor, está selecionando um/a profissional para compor seu quadro de
      Assistente Criativo com foco em Comunicação, em tempo integral, 40hs, com contrato regido pela Consolidação das
      Leis Trabalhistas (CLT).
    </p>
  </div>
</section>
<div id="top"></div>
<section *ngIf="!showForm" class="pt-10 pb-20 px-4" >
  <div class="container max-w-5xl mb-28">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Área de Atuação</h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        O Instituto Ilumine surgiu em 2018 com uma intenção genuína de promover transformações no mundo a partir do
        cuidado com a saúde emocional de jovens em situação de vulnerabilidade social.
        <br>
        <br>
        Daquele momento para cá, esse propósito nobre foi se revelando cada vez mais necessário e foi conectando pessoas
        sintonizadas com a causa. Então colocamos a “mão na massa” e realizamos encontros para ouvir e sentir de perto
        as necessidades desses jovens e logo tivemos uma visão clara de como oferecer nossos serviços da maneira mais
        assertiva possível.
        <br>
        <br>
        Nós somos o Ilumine, um instituto social que promove aos jovens trilhas de autoconhecimento para despertar seus
        sonhos e potências.
        <br>
        <br>
        Acreditamos que a maior força do ser humano está no seu interior. Cada pessoa possui dentro de si o poder de se
        tornar protagonista da sua própria jornada e transformar a sua realidade. A partir do autoconhecimento, a mente
        se expande e permite guiar novos caminhos. O indivíduo passa a reconhecer suas potências e desperta para sonhar.
        Os jovens possuem um poder transformador ainda maior, pois são eles que representam o futuro do mundo. Por isso,
        iluminar a consciência dos jovens significa depositar esperança para a construção de um mundo melhor. Assim, o
        Ilumine representa um ponto de partida. Uma luz que guia novos caminhos.
        <br>
        <br>
        Iluminar para despertar. Iluminar para expandir. Iluminar para guiar. Iluminar para encorajar. Iluminar para
        empoderar. Iluminar para transformar.
        <br>
        <br>
        Ilumine. Mentes que sonham transformam mundos.
        <br>
        <br>
        A pessoa contratada deverá desenvolver suas atividades parcialmente remotas em teletrabalho, enquanto durar a
        pandemia da Covid-19 e após, no Escritório do Instituto Ilumine, que fica no bairro Itaim Bibi, cidade de São
        Paulo (SP).
      </p>
    </div>
  </div>

  <div class="container max-w-5xl mb-28">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Atribuições do Cargo</h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        § Produzir conteúdo;
        <br>
        <br>
        § Auxiliar na gestão de redes sociais e espaços virtuais;
        <br>
        <br>
        § Apoiar na realização de seminários, oficinas, cursos e eventos;
        <br>
        <br>
        § Dialogar com os jovens inseridos nos projetos sociais, estabelecendo canal de comunicação entre estes e o
        Instituto Ilumine;
        <br>
        <br>
      </p>
    </div>
  </div>

  <div class="container max-w-5xl mb-28">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Requisitos:</h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        • Faixa etária: entre 18 e 24 anos;
        <br>
        <br>
        • Escolaridade mínima exigida: Ensino Médio em andamento ou concluído;
        <br>
        <br>
        • Conhecimentos em Excel, Word e PowerPoint (nível básico);
        <br>
        <br>
        • Versatilidade para lidar com novas mídias e tecnologias;
        <br>
        <br>
        • Perfil dinâmico, comunicativo, criativo e curioso;
        <br>
        <br>
        • Habilidade para se expressar e transmitir as informações com clareza;
        <br>
        <br>
        • Capacidade de análise, interpretação e crítica;
        <br>
        <br>
        • Vontade de construir um mundo melhor e sensibilizar os demais a fazer o mesmo;
        <br>
        <br>
        • Ter disposição para trabalho em equipe e para dinâmicas de gestão compartilhada de processos e projetos;
        <br>
        <br>
        • Ter boa capacidade de diálogo, articulação com adolescentes, jovens, grupos e redes;
        <br>
        <br>
        • Vontade de aprender e crescer junto com o Instituto Ilumine.
      </p>
    </div>
  </div>

  <div class="container max-w-5xl mb-28">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Participação na primeira etapa do processo seletivo</h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        As pessoas interessadas deverão aplicar-se seguindo os seguintes passos:
        <br>
        <br>
        A) Preencher o formulário abaixo;
        <br>
        <br>
        B) gravar um vídeo de no máximo cinco minutos sobre algum dos temas abaixo:
      </p>
      <p class="font-museoLight text-base text-darkGray my-10 mx-12">
        I) Como você vê a importância da saúde emocional no seu dia a dia, de seus amigos e familiares? Você considera
        importante ter “recursos” (conhecimentos ou ferramentas) para lidar com ansiedade, depressão, medo, angústia no
        seu dia a dia, frente aos desafios que a vida apresenta?
        <br>
        <br>
        II) De que forma você acredita que a realidade social/econômica em que você está inserido impacta na sua saúde
        emocional? Você acredita que isso interfere nas suas oportunidades de vida?
        <br>
        <br>
        III) Como você vê a abordagem desse tema da saúde emocional pela mídia, artistas e influenciadores? Quais são as
        figuras ou veículos em quem você confia sobre esses assuntos e quais você acredita que se omitem? (Pode explorar
        mais o assunto falando sobre em quais canais ou formatos você consome esse conteúdo, de quais abordagens sente
        falta ou o que mais sentir vontade de expressar.)
        <br>
        <br>
        IV) Se você tivesse o poder de ajudar a mudar a realidade de saúde emocional de jovens como você com o seu
        trabalho, como você faria?
        <br>
        <br>
        V) Mande uma mensagem para os jovens como você sobre saúde emocional.
        <br>
        <br>
        Obs.: Na hora de gravar o vídeo, imagine estar se comunicando com jovens como você! Use a mesma linguagem que
        usaria ao se comunicar com eles.
      </p>

      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        C) anexar uma carta de apresentação, que deverá conter as razões pelas quais está interessada/o na vaga, um
        relato sobre a sua vida, experiências junto a projetos sociais, articulações comunitárias e outros aspectos que
        considerar relevantes.
      </p>
    </div>
  </div>

  <div class="container max-w-5xl mb-28">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Calendário</h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        De 17/05 a 17/06: Recebimentos das inscrições;
        <br>
        <br>
        De 18/06 a 28/06: Análise das inscrições;
        <br>
        <br>
        De 29/06 a 02/07: Divulgação dos selecionados na primeira etapa;
        <br>
        <br>
        De 05 a 09/07: Entrevistas com os selecionados na o primeira etapa;
        <br>
        <br>
        Dia 12/07: Divulgação dos resultados;
        <br>
        <br>
        Dia 02/08: Início da contratação.
      </p>
    </div>
  </div>

  <div class="container max-w-5xl mb-44">
    <h3 class="font-museoSemiBold text-3xl text-darkGray">Contratação </h3>
    <div class="max-w-3xl">
      <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
        • Salário: R$ 1.500
        <br>
        <br>
        • Benefícios: VT e VR a serem informados informados na etapa final do processo.
      </p>
    </div>
  </div>

  <div class="w-full text-center">
    <button (click)="toggleForm();goToAnchor('top')"
      class="font-museoRegular rounded-button w-10/12 md:w-80 h-16 bg-green text-md uppercase border-2 border-solid border-green text-center hover:bg-white hover:text-green focus:outline-none">
      Preencher o formulário
    </button>
  </div>
</section>

<section *ngIf="showForm">
  <div class="container max-w-5xl py-20 mx-auto">
    <div class="max-w-3xl mx-auto">
      <a class="font-museoRegular text-xs text-darkGray uppercase hover:underline cursor-pointer"
        (click)="toggleForm()">
        < voltar</a> </div> <div class="font-museoSemiBold text-darkGray text-center my-10">
          <h3 class="text-2xl">FORMULÁRIO: </h3>
          <p class="text-lg">ASSISTENTE CRIATIVO COM FOCO EM COMUNICAÇÃO</p>
    </div>
    <form [formGroup]="processoSeletivoForm" id="formInscricao">
      <div class="flex flex-wrap w-11/12 md:grid md:grid-cols-2 md:gap-y-0 md:gap-x-5 md:max-w-2xl lg:max-w-3xl mx-auto text-lightGray text-lg">
        <div class="w-full mb-5">
          <input type="email" formControlName="email" placeholder="E-mail*" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('email').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('email').touched && processoSeletivoForm.get('email').hasError('required')">Campo Obrigatório.</div>
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('email').touched && processoSeletivoForm.get('email').hasError('email')">Email inválido.</div>
        </div>
        <div class="w-full mb-5">
          <input type="text" formControlName="nomeCompleto" placeholder="Nome Completo*" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('nomeCompleto').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('nomeCompleto').touched && processoSeletivoForm.get('nomeCompleto').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full mb-5">
          <input type="text" formControlName="telefone" placeholder="Telefone*" mask="(00) 00000-0000" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('telefone').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('telefone').touched && processoSeletivoForm.get('telefone').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full mb-5">
          <input type="text" formControlName="dataNascimento" placeholder="Data de Nascimento*" mask="00/00/0000"  [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('dataNascimento').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('dataNascimento').touched && processoSeletivoForm.get('dataNascimento').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full mb-5">
          <input type="text" formControlName="bairro" placeholder="Bairro em que reside*" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('bairro').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('bairro').touched && processoSeletivoForm.get('bairro').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full mb-5">
          <input type="text" formControlName="cidade" placeholder="Cidade em que reside*" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('cidade').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('cidade').touched && processoSeletivoForm.get('cidade').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full pb-5">
          <div
            class="select-container text-lightGray bg-transparent border border-veryLightGray px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray "
            (click)="openSelectEscolaridade = !openSelectEscolaridade"
            [ngClass]="{'h-full rounded-3xl': openSelectEscolaridade, 'rounded-full': !openSelectEscolaridade, 'border-darkGray text-darkGray': escolaridade !== '' } ">
            <div class="flex justify-between items-center w-full h-full" [ngClass]="{'pt-4': openSelectEscolaridade}">
              <span *ngIf="openSelectEscolaridade || escolaridade == '' && !openSelectEscolaridade"
                class=" text-lightGray">Grau de Escolaridade*</span>
              <span *ngIf="!openSelectEscolaridade || escolaridade !== '' && !openSelectEscolaridade "
                class="text-darkGray">{{escolaridade}}</span>
              <i class="icon icon-arrow-select bg-lightGray h-4 w-4"
                [ngClass]="{'transform rotate-180': openSelectEscolaridade}"></i>
            </div>
            <ul class="select-content w-full py-2" [ngClass]="{'open': openSelectEscolaridade}">
              <li class="py-2 hover:text-darkGray" *ngFor="let item of opcoesEscolaridade"
                (click)="getSelectedEscolaridade(item)">{{item}}</li>
            </ul>
          </div>
          <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('escolaridade').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full">
          <input type="text" formControlName="curso" placeholder="Curso"  [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('curso').dirty}"
            class="bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
        </div>
        <div class="w-full pb-4">
          <div>
            <div
              class="select-container text-lightGray bg-transparent border border-veryLightGray px-6 min-w-full max-w-96 h-14 focus:border-darkGray focus:text-darkGray "
              (click)="openSelectGenero = !openSelectGenero"
              [ngClass]="{'h-full rounded-3xl': openSelectGenero, 'rounded-full': !openSelectGenero, 'border-darkGray text-darkGray': genero !== ''}">
              <div class="flex justify-between items-center w-full h-full" [ngClass]="{'pt-4': openSelectGenero}">
                <span *ngIf="openSelectGenero || genero == '' && !openSelectGenero" class=" text-lightGray">Gênero com
                  que se identifica*</span>
                <span *ngIf="!openSelectGenero || genero !== '' && !openSelectGenero "
                  class="text-darkGray">{{genero}}</span>
                <i class="icon icon-arrow-select bg-lightGray h-4 w-4"
                  [ngClass]="{'transform rotate-180': openSelectGenero}"></i>
              </div>
              <ul class="select-content w-full py-2" [ngClass]="{'open': openSelectGenero}">
                <li class="py-2 hover:text-darkGray" *ngFor="let item of opcoesGenero"
                  (click)="getSelectedGenero(item)">{{item}}</li>
              </ul>
            </div>
          </div>
          <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('genero').invalid  && processoSeletivoForm.get('genero').hasError('required')">Campo Obrigatório.</div>
        </div>
        <div class="w-full col-span-2 pl-4 md:pl-8 mt-8">
          <p class="font-museoRegular text-lightGray text-lg mb-4">Fez ou faz parte de algum movimento social, coletivo
            ou organização? Se sim, qual?</p>
          <div class="inline-flex md:inline-block mr-12 mb-4">
            <label for="movimentoSocial"
             class="block relative w-16"
             (click)="toggleInputDisabled('movimentoSocialDetalhes')"
             [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('movimentoSocial').dirty && processoSeletivoForm.get('movimentoSocial').value === 'sim'}"
            >
              <div class="h-4 w-4 absolute bottom-1 left-0 border border-lightGray rounded-full cursor-pointer flex items-center justify-center" [ngClass]="{'border-darkGray': processoSeletivoForm.get('movimentoSocial').value === 'sim'}">
                <div [ngClass]="{'h-2 w-2 bg-darkGray rounded-full': processoSeletivoForm.get('movimentoSocial').value === 'sim'}"></div>
              </div>
              <input type="radio" class="opacity-0  mr-2 cursor-pointer h-4 w-4" name="movimentoSocial" value="sim" formControlName="movimentoSocial">Sim
            </label>
            <label for="movimentoSocial" class="block relative w-16" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('movimentoSocial').dirty && processoSeletivoForm.get('movimentoSocial').value === 'nao'}">
              <div class="h-4 w-4 absolute bottom-1 left-0 border border-lightGray rounded-full cursor-pointer flex items-center justify-center" [ngClass]="{'border-darkGray': processoSeletivoForm.get('movimentoSocial').value === 'nao'}">
                <div [ngClass]="{'h-2 w-2 bg-darkGray rounded-full': processoSeletivoForm.get('movimentoSocial').value === 'nao'}"></div>
              </div>
              <input type="radio" class="opacity-0 mr-2 cursor-pointer h-4 w-4" name="movimentoSocial" value="nao"  formControlName="movimentoSocial">Não
            </label>
          </div>
          <input type="text" formControlName="movimentoSocialDetalhes"  [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('movimentoSocialDetalhes').dirty}"
            class="align-middle bg-transparent text-lightGray outline-none placeholder-lightGray border border-veryLightGray rounded-full px-6 h-14 mb-5 w-10/12 focus:border-darkGray focus:text-darkGray">
        </div>
        <div class="w-full col-span-2 mt-8">
          <div class="pl-4 md:pl-8 mb-4">
            <p>Redes sociais (Facebook/Instagram/outras)</p>
            <small>(Insira os links abaixo)</small>
          </div>
          <div class="flex flex-wrap md:grid md:grid-cols-2 gap-y-0 gap-x-5">
            <input type="text" formControlName="urlRedesSociais1" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlRedesSociais1').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
            <input type="text" formControlName="urlRedesSociais2" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlRedesSociais2').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
            <input type="text" formControlName="urlRedesSociais3" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlRedesSociais3').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
            <input type="text" formControlName="urlRedesSociais4" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlRedesSociais4').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 min-w-full max-w-96 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
          </div>
        </div>
        <div class="w-full col-span-2 pl-4 md:pl-8 mb-4 mt-8">
          <div class="mb-4">
            <p>Quais as fontes de informação que você acessa?</p>
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center"  class="relative text-center" (click)="toggleInputDisabled('influenciadoresDetalhes')">
              <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('influenciadores').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="influenciadores">
              Influenciadores. Quais?
            </label>
            <input type="text" formControlName="influenciadoresDetalhes" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('influenciadoresDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-7/12 lg:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center" (click)="toggleInputDisabled('radioDetalhes')">
            <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('radio').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="radio" >
              Rádio. Qual?
            </label>
            <input type="text" formControlName="radioDetalhes" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('radioDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center" (click)="toggleInputDisabled('tvDetalhes')">
              <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('tv').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="tv">
              TV. Quais programas?
            </label>
            <input type="text" formControlName="tvDetalhes"  [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('tvDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center" (click)="toggleInputDisabled('jornalDetalhes')">
              <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('jornal').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="jornal">
              Jornal. Quais?
            </label>
            <input type="text" formControlName="jornalDetalhes" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('jornalDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center" (click)="toggleInputDisabled('revistasDetalhes')" >
              <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('revistas').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="revistas">
              Revistas. Quais?
            </label>
            <input type="text" formControlName="revistasDetalhes" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('revistasDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>

          <div class="block md:inline-flex w-full items-center justify-between mb-12 md:mb-7">
            <label for="sim" class="relative text-center" (click)="toggleInputDisabled('outrosDetalhes')">
              <div class="h-5 w-5 absolute bottom-1 left-0 border border-lightGray rounded-4px cursor-pointer flex items-center justify-center">
                <div [ngClass]="{'h-3 w-3 bg-darkGray rounded-sm': processoSeletivoForm.get('outros').value}"></div>
              </div>
              <input type="checkbox" class="h-5 w-5 opacity-0 mr-3 cursor-pointer"  value="sim" formControlName="outros">
              Outros. Quais?
            </label>
            <input type="text"  formControlName="outrosDetalhes" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('jornalDetalhes').dirty}"
              class="bg-transparent text-lightGray outline-none border-b border-veryLightGray px-2 w-full md:w-8/12 focus:border-darkGray focus:text-darkGray">
          </div>
        </div>
        <div class="w-full col-span-2 mt-6">
          <p class="pl-4 md:pl-8 mb-4">Cite também algumas pessoas que você adora seguir nas redes sociais! </p>
          <input type="text" formControlName="pessoasRedesSociais" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('pessoasRedesSociais').dirty}"
            class="bg-transparent text-lightGray w-full outline-none border border-veryLightGray rounded-full px-6 h-14 mb-5 focus:border-darkGray focus:text-darkGray">
        </div>
        <div class="w-full col-span-2 flex flex-wrap mt-6 justify-between mb-5">
          <div class="pl-4 md:pl-8 mb-4 md:w-5/12">
            <p>URL do seu vídeo* </p>
            <small>(Faça upload do arquivo no Google Drive e insira aqui o link de compartilhamento) </small>
          </div>
          <div>
            <input type="text" formControlName="urlVideo" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlVideo').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 w-full md:w-96 h-14 focus:border-darkGray focus:text-darkGray">
            <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('urlVideo').touched && processoSeletivoForm.get('urlVideo').hasError('required')">Campo Obrigatório.</div>
          </div>
        </div>
        <div class="w-full col-span-2 flex flex-wrap mt-8 justify-between items-center mb-5">
          <div class="pl-4 md:pl-8 mb-4 md:w-5/12">
            <p>URL da sua carta de apresentação*</p>
            <small>(Faça upload do arquivo no Google Drive e insira aqui o link de compartilhamento) </small>
          </div>
          <div>
            <input type="text" formControlName="urlCarta" [ngClass]="{'border-darkGray text-darkGray': processoSeletivoForm.get('urlCarta').dirty}"
              class="bg-transparent text-lightGray outline-none border border-veryLightGray rounded-full px-6 w-full md:w-96 h-14 focus:border-darkGray focus:text-darkGray">
              <div class="text-xs text-orange mt-2 pl-4" *ngIf="processoSeletivoForm.get('urlCarta').touched && processoSeletivoForm.get('urlCarta').hasError('required')">Campo Obrigatório.</div>
          </div>
        </div>
      </div>
      <div class="w-full text-center mt-16">
        <button [disabled]="processoSeletivoForm.invalid" [ngClass]="{'opacity-70 cursor-default': processoSeletivoForm.invalid, 'hover:bg-white hover:text-green': processoSeletivoForm.valid}" (click)="sendForm()"
          class="font-museoRegular rounded-button w-44 h-14 bg-green text-md uppercase border-2 border-solid border-green text-centerfocus:outline-none">
          Enviar >
        </button>
      </div>
    </form>
  </div>

</section>


<app-footer></app-footer>
