<app-header></app-header>
<section>
  <swiper>
      <ng-template swiperSlide>
        <div class="relative h-screen w-screen bg-left bg-no-repeat bg-cover md:bg-center" style="background-image: url(/assets/images/banner-home-1.png)">
          <div class="containter absolute z-10 top-0 left-0 max-w-3xl px-10 py-20 md:px-20 md:pt-20 ">
            <h1 class="font-zerocalcare text-6xl text-darkGray max-w-md">Bem-vindos (as) ao Ilumine!</h1>
            <p class="font-museoRegular text-2xl text-darkGray mt-16 mb-24">Aqui você tem acesso a jornadas de autoconhecimento para despertar sonhos e potências.</p>
            <button class="font-museoRegular rounded-button bg-green text-lg uppercase border-2 border-solid border-green w-64 h-14 text-center hover:bg-white hover:text-green focus:outline-none" routerLink="/o-instituto">
              Venha com a gente! ;)
            </button>
          </div>
        </div>
      </ng-template>

  </swiper>
</section>



<section class="min-h-96 bg-yellow text-center py-24">
  <div class="container">
    <h2 class="font-zerocalcare text-6xl text-darkGray">O INSTITUTO</h2>
    <div class="w-8/12 mx-auto">
      <p class="font-museoRegular text-md md:text-lg text-darkGray mb-10 mt-5 mx-auto">
        O Instituto Ilumine surgiu em 2019 com uma intenção genuína de promover transformações no mundo a partir do cuidado com
        a saúde emocional de jovens. Daquele momento para cá, esse propósito foi se revelando cada vez mais necessário e foi conectando pessoas sintonizadas com a causa.
      </p>
    </div>
    <button [routerLink]="['/o-instituto']" class="font-museoRegular rounded-button bg-pink text-md h-12 w-52 uppercase border-2 border-solid border-pink p-0 text-center hover:bg-white hover:text-pink focus:outline-none">
      Saiba Mais >
    </button>
  </div>
</section>

<section class="min-h-96 bg-white py-36 relative">
  <div class="container grid grid-cols-1 md:grid-cols-2 relative gap-6 justify-items-center">
    <div class="flex-shrink-0 grid justify-center flower-mask w-max">
      <img src="/assets/images/joven-home.png">
    </div>
    <div class="text-start pt-10 ml-4 md:pt-4 lg:pt-10">
      <h2 class="font-zerocalcare text-6xl text-green">PARTICIPE</h2>
      <p class="font-museoRegular text-xl md:text-2xl text-darkGray mb-10 mt-5 w-4/5">
        Se você é educador de uma ONG, Instituto ou Escola Pública, e ainda não é um parceiro Ilumine, entre em contato com a gente por aqui. Se você é um jovem você também pode nos acionar para organizarmos nossa parceria.
      </p>
      <button [routerLink]="['/como-participar/jovens']" class="font-museoRegular rounded-button bg-green text-md mr-4 mb-4 h-12 w-5/12 lg:w-52 uppercase border-2 border-solid border-green p-0 text-center hover:bg-white hover:text-green focus:outline-none">
        Jovens >
      </button>
      <button [routerLink]="['/como-participar/educador']" class="font-museoRegular rounded-button bg-orange text-md  h-12 w-6/12 lg:w-52 uppercase border-2 border-solid border-orange p-0 text-center hover:bg-white hover:text-orange focus:outline-none">
        Educadores >
      </button>
    </div>
  </div>
  <div class="bg-circle absolute z-10 -right-52 -bottom-52" ></div>
</section>

<!-- <section class="min-h-96 bg-veryLightOrange py-40 relative" *ngIf="posts.length > 0">
  <div class="container relative text-center max-w-7xl">
    <h2 class="font-zerocalcare text-6xl text-orange mb-20">As últimas publicações</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <app-blog-post *ngFor="let item of posts" [post]="item"></app-blog-post>
    </div>
    <button class="font-museoRegular rounded-button mt-20 bg-orange text-md  h-12 w-52 uppercase border-2 border-solid border-orange p-0 text-center hover:bg-white hover:text-orange focus:outline-none">
      Ver todas >
    </button>
  </div>
</section> -->

<section class="min-h-96 py-20 md:py-40 max-w-4xl mx-auto">
  <app-depoimentos></app-depoimentos>
</section>

<app-footer></app-footer>
