<div [ngClass]="destaque ? 'md:max-h-50 md:grid-cols-3 mb-12' : 'md:max-h-32 md:grid-cols-4 h-full'" class="bg-white rounded-2xl shadow-lg grid grid-cols-1 grid-flow-row gap-2 m-4 p-2 items-center cursor-pointer m" [routerLink]="['/blog', post.id]">
  <div [ngClass]="destaque ? 'h-48 w-48' : 'h-32 md:h-28 md:w-28'" class="w-full bg-center bg-no-repeat bg-cover rounded-2xl" [style.background-image]="'url(' + post.imagem" >
  </div>
  <div class="text-left col-span-2" [ngClass]="destaque ? 'ml-6' : 'ml-2'">
    <span class="font-museoRegular text-xs text-lightGray ">{{ post.dataCriacao | date: 'dd.MM'}} às {{ post.dataCriacao | date: 'hh:mm'}}</span>
    <p class="font-museoRegular text-darkGray truncate" [ngClass]="destaque ? 'text-4xl my-6' : 'text-2xl mb-5'">{{post.titulo}}</p>
    <p class="font-museoRegular  text-sm text-darkGray truncate">{{post.resumo}}</p>

    <button *ngIf="destaque" class="mt-4 font-museoRegular text-center rounded-button bg-orange text-md h-12 w-20 uppercase border-2 border-solid border-orange p-0 hover:bg-white hover:text-orange focus:outline-none" >
      >>
    </button>
  </div>
  <div class="md:flex justify-center" *ngIf="!destaque">
    <button class="font-museoRegular text-center rounded-button bg-orange text-md h-12 w-20 uppercase border-2 border-solid border-orange p-0 hover:bg-white hover:text-orange focus:outline-none" >
      >>
    </button>
  </div>
</div>
