<h2 class="text-3xl font-museoBold text-gray-800">Nova Trilha</h2>
<form class="w-full max-w-3xl mt-8"  [formGroup]="angForm">
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Título
      </label>
    </div>
    <div class="md:w-9/12">
      <input class="input-admin" type="text" formControlName="titulo" >
      <div class="text-xs text-orange mt-2 pl-4" *ngIf="angForm.get('titulo').touched && angForm.get('titulo').hasError('required')">Campo Obrigatório.</div>
      <div class="text-xs text-orange mt-2 pl-4" *ngIf="angForm.get('titulo').touched && angForm.get('titulo').hasError('minLength')">Campo muito curto.</div>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Descrição
      </label>
    </div>
    <div class="md:w-9/12">
      <textarea class="input-admin" type="text" formControlName="descricao" ></textarea>
      <div class="text-xs text-orange mt-2 pl-4" *ngIf="angForm.get('descricao').touched && angForm.get('descricao').hasError('required')">Campo Obrigatório.</div>
      <div class="text-xs text-orange mt-2 pl-4" *ngIf="angForm.get('descricao').touched && angForm.get('descricao').hasError('minLength')">Campo muito curto.</div>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Destinatário
      </label>
    </div>
    <div class="md:w-9/12">
      <select *ngIf="tipos" class="input-admin"  name="escolaridade" selected formControlName="destinatario">
        <option  *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nome}}</option>
      </select>
      <div class="text-xs text-orange mt-2 pl-4" *ngIf="angForm.get('destinatario').touched && angForm.get('destinatario').hasError('required')">Campo Obrigatório.</div>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Duração
      </label>
    </div>
    <div class="md:w-9/12">
      <input type="text" class="input-admin" type="number" formControlName="duracao" />
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/12">
      <label class="block text-gray-500 font-museoSemiBold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        Ordenação
      </label>
    </div>
    <div class="md:w-9/12">
      <input type="text" class="input-admin" type="number" formControlName="ordem" />
    </div>
  </div>
  <div class="md:flex">
    <div class="md:w-2/12"></div>
    <div class="md:w-9/12">
      <button type="button"  (click)="Salvar()" [disabled]="angForm.invalid"  [ngClass]="{'opacity-70 cursor-default': angForm.invalid,  'hover:bg-white hover:text-green': angForm.valid }"
      class="font-museoRegular rounded-button w-44 h-14 bg-green text-md uppercase border-2 border-solid border-green text-center focus:outline-none" >
        <span *ngIf="!showloading">
          Salvar >
        </span>
        <div *ngIf="showloading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </button>
    </div>
    <div class="text-base text-orange mt-2" *ngIf="errorMessage">{{errorMessage}}</div>
  </div>
</form>
