<app-header></app-header>

<div *ngIf="data">
  <section class="py-9 md:py-8 w-9/12 mx-auto">
    <a onclick="window.history.back()" class="cursor-pointer font-museoRegular text-darkGray underline mb-12 ml-24 block">&lt; Voltar</a>

    <div class="w-full background-cover bg-center h-420" style="background-image: url({{data.imagem}});"></div>

    <div class="w-10/12">
      <h1 class="font-museoRegular text-orange text-3xl mt-12 mb-3">{{data.titulo}}</h1>
      <p class="font-museoRegular text-sm text-darkGray mb-2">Publicado {{data.dataCriacao | date: 'dd.MM'}} às {{ data.dataCriacao | date: 'hh:mm'}}</p>
      <!-- <p class="text-sm text-darkGray">Por: Nome Sobrenome</p> -->
    
      <div class="font-museoRegular text-darkGray my-8 md:my-24"[innerHTML]="data.texto"></div>

    </div>
    
  </section> 
</div>


<section class="py-9 md:py-24 bg-snowWhite">
  <div class="w-10/12 mx-auto">
    <h2 class="font-museoRegular text-2xl text-orange text-center">Outras Publicações</h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <app-blog-post *ngFor="let item of posts" [post]="item"></app-blog-post>
    </div>
  </div>
</section>

<app-footer></app-footer>
